@font-face {
    font-family: 'YuYang_W01';
    src: url('YuYang_W01.ttf');
  }

  @font-face {
    font-family: 'YuYang_W02';
    src: url('YuYang_W02.ttf');
  }

  @font-face {
    font-family: 'YuYang_W03';
    src: url('YuYang_W03.ttf');
  }

  @font-face {
    font-family: 'YuYang_W04';
    src: url('YuYang_W04.ttf');
  }

  @font-face {
    font-family: 'YuYang_W05';
    src: url('YuYang_W05.ttf');
  }