<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcxy.psyche.mapper.PaperListMapper">

    <select id="getlatestThreePaper" resultType="com.zcxy.psyche.entity.PaperList">
        select * from PaperList order by createtime desc limit 3;
    </select>

</mapper>
