<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcxy.psyche.mapper.SysRoleMapper">

<!--    <select id="queryByUserId" resultType="com.zcxy.psyche.entity.SysRole">-->
<!--        SELECT * FROM SysRole s WHERE s.roleid IN ( SELECT rId FROM UserToRole s2 WHERE s2.uId = #{userId} );-->
<!--    </select>-->
</mapper>
